<!DOCTYPE html>
<html lang="en">
  <head>
  	 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <title><%= title %></title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min4.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  	 <!-- Custom CSS -->
    <link rel='stylesheet' href='/css/style.css' />
     <link rel='stylesheet' href='/css/ticket.css' />

  </head>
  <body>

    <%- defineContent('main')%>





<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/popper.min.js"> </script>
<script  type="text/javascript" src="/js/bootstrap.min4.js"></script>
<script type="text/javascript" src="/js/tickets.js"></script>

  </body>
</html>
